<div>
<%= notice %>
<%= form_with(model: @merchant, url: merchant_dashboard_path, local: true, class: "pl-3 pr-3 pt-3 pb-2") do |form|  %>
    <div class="card-body">
      <div class="form-group">
        <label for="exampleInputEmail1">Email</label>
        <%= form.email_field :email, class: "form-control", placeholder: "Enter Email", required: "true" %>
      </div>
      <div class="form-group">
        <label for="first_name">First Name</label>
        <%= form.text_field :first_name, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <%= form.text_field :last_name, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="phone_number">Phone Number</label>
        <%= form.text_field :phone_number, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <%= form.text_field :country, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <%= form.text_field :city, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <%= form.text_field :state, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="street_address">Street Address</label>
        <%= form.text_field :street_address, class: "form-control", required: "true" %>
      </div>
      <div class="form-group">
        <label for="zip_code">Zip Code</label>
        <%= form.text_field :zip_code, class: "form-control", required: "true" %>
      </div>
    <div class="form-group">
      <%= form.label :password %> <i>(leave blank if you don't want to change it)</i><br />
      <%= form.password_field :password, autocomplete: "new-password", class: "form-control"  %>
      <% if @minimum_password_length %>
        <br />
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
    </div>
    <div class="form-group">
      <%= form.label :password_confirmation %><br />
      <%= form.password_field :password_confirmation, autocomplete: "new-password" , class: "form-control" %>
    </div>


  <!-- /.card-body -->

    <div class="ml-0  ">
      <button type="submit" class="btn btn-submit-profile">Submit</button>
    </div>
<% end %>
</div>
