<!-- Dashboard Main Start -->
<div class="dashboard_main_page">
  <div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <% user= current_user %>
        <div class="welcom_heading">
        Dashboard </div>
        <!-- <div class="small_head pl-1">Your Accounts Dashboard</div> -->
        <% flash.try(:each) do |name, msg| %>
        <div class="alert-message">
          <div class="alert alert-warning alert-dismissible fade shadow show" role="alert">
            <%= msg %>
            <a type="button" class="btn-close-alert" data-bs-dismiss="alert" aria-label="Close">&times</a>
          </div>
        </div>
        <% end %>
      </div>
    </div>
    <div class="row justify-content-center">
      <% current_user.wallets.each do |wallet|%>
      <div class="col-md-5 col-sm-12 col-xs-12 p-0 m-0">
        <div class="dashboard_main_box shadow text-center">
          <div class="title">
            <%=  get_wallet_title(wallet.wallet_type) %>
            <% if wallet.reserve? %>
            <a type="button"><i id="popUp" class="fas fa-info-circle"></i></a>
            <div class="popUp-content-main">
              <p>We hold your money to refund in case of chargebacks</p>
            </div>
            <% end %>
          </div>

          <div class="line"></div>
          <div class="balance_one">
            <div class="balance">
              <%= number_with_precision(number_to_currency(wallet.balance), precision: 2, delimiter: ',') %></div>
          </div>

          <div class="line"></div>
          <div class="main_account_list child mt-3 mb-3">
            <div class="row">
              <div class="col-md-12">
                <div class="fund_head mt-3"><a href="<%= account_transactions_merchant_account_path(wallet) %>">View
                    Transactions</a>
                </div>
              </div>
            </div>
          </div>
          <% if wallet.primary? %>
          <div class="d-flex justify-content-center mt-5">
            <!-- Withdrawl Funds Modal -->
            <%= link_to 'Withdraw Funds', new_merchant_withdraw_path, class: "btn btn-withdraw_fund mr-2",remote: true %>
            <!-- <a href="#" class="btn btn-withdraw_fund mr-2" data-toggle="modal"
                                        data-target="#exampleModalCenter">Withdraw Fund</a> -->
            <!-- Account Transfer Modal -->
            <%= link_to 'Account Transfer', new_merchant_account_transfer_path, class: "btn btn-account_transfer mr-2",remote: true %>
            <!-- <a href="#" class="btn btn-account_transfer ml-2" data-toggle="modal"
                                        data-target="#exampleModal">Account Transfer</a> -->
          </div>
          <% end %>
          <% if wallet.reserve? %>
            <div class="main_account_list child mt-5">
              <div class="row">
                <div class="col-md-6">
                  <div class="fund_head">Todays Funds Release</div>
                </div>
                <div class="col-md-6">
                  <div class="fund_amount float-right mt-2">
                    <%= number_to_currency(number_with_precision(@reserve_release_amount.to_f, precision: 2, delimiter: ',')) %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
  <section id=withdraw-modal></section>
  <section id="account-transfers"></section>
  <!-- Dashboard Main Start -->
  <script>
    $(document).ready(function () {
      $('#popUp').click(function () {
        $('.popUp-content-main').toggleClass("show-hide");
      });
    });
  </script>
