<%= form_with(model: payment_gateway, url: url, local: true) do |form| %>
    <div class="card-body">
      <div class="form-group">
        <label for="type">Gateway Type </label>
        <%= form.select :gateway_type, PaymentGateway.gateway_types.reject{|e| e == "cardinity" || e == "red_sys"}.map { |w| [w.first.humanize, w.second] }, include_blank: true ,
          class: "form-control", selected:  default_gateway_type(form.object.gateway_type) %>
      </div>
      <div class="form-group" id="name" >
        <label for="name"> Name</label>
        <%= form.text_field :name, class: "form-control", requried: true %>
      </div>
      <div class="form-group"  id="merchant_id">
        <label for="merchant_id">Merchant ID</label>
        <%= form.text_field :merchant_id, class: "form-control" %>
      </div>

      <div class="form-group"  id="client_key">
        <label for="client_key">Client Key</label>
        <%= form.text_field :client_id, class: "form-control" %>
      </div>
      <div class="form-group"  id="client_secret">
        <label for="client_secret">Client Secret</label>
        <%= form.text_field :client_secret, class: "form-control" %>
      </div>
      <div class="form-group"  id="secret_word" >
        <label for="secret_word">Secret Word </label>
        <%= form.text_field :secret_word, class: "form-control" %>
      </div>
      <div class="form-group"  id="redirect_url" >
        <label for="redirect_url">Redirect url</label>
        <%= form.text_field :redirect_url, class: "form-control" %>
      </div>
      <div class="form-group"  id="base_url" >
        <label for="base_url">Base url</label>
        <%= form.text_field :base_url, class: "form-control" %>
      </div>
    </div>
    <!-- /.card-body -->
    <% @gateway_t = payment_gateway.gateway_type %>
    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>



<% end %>

<script>

  var gateway_type ='<%=@gateway_t  %>'
  if (gateway_type.length > 0 ){
    
    if(gateway_type == 'authorize_pay' || gateway_type == 'stripe' || gateway_type == 'blue_snap' ){
      let hide_arguments = ["merchant_id", "redirect_url", "base_url","secret_word"];
      for(var i=0; i < hide_arguments.length; i++){
        document.getElementById(hide_arguments[i]).style.display = "none";
      }

      let show_arguments = ["name", "client_key", "client_secret"];
      for(var i=0; i < show_arguments.length; i++){
        document.getElementById(show_arguments[i]).style.display = "block";
      }
    }

    // if(gateway_type == 'gocardless'){
    //   let hide_arguments = [ "client_key", "redirect_url", "base_url", "secret_word"];
    //   for(var i=0; i < hide_arguments.length; i++){
    //     document.getElementById(hide_arguments[i]).style.display = "none";
    //   }
    //
    //   let show_arguments = ["name", "merchant_id", "client_secret"];
    //   for(var i=0; i < show_arguments.length; i++){
    //     document.getElementById(show_arguments[i]).style.display = "block";
    //   }
    // }

    if(gateway_type == 'brain_tree_payments'){
      let hide_arguments = [  "redirect_url", "base_url", "secret_word"];
      for(var i=0; i < hide_arguments.length; i++){
        document.getElementById(hide_arguments[i]).style.display = "none";
      }

      let show_arguments = ["name", "merchant_id","client_key", "client_secret"];

      for(var i=0; i < show_arguments.length; i++){
        document.getElementById(show_arguments[i]).style.display = "block";
      }
    }

    if(gateway_type == 'securion_pay' || gateway_type == 'smart_pay') {
      // securion pay and smart pay script
      let hide_arguments = [  "redirect_url", "base_url", 'secret_word', 'client_key', 'merchant_id'];
      for(var i=0; i < hide_arguments.length; i++){
        if (document.getElementById(hide_arguments[i])) {
          document.getElementById(hide_arguments[i]).style.display = "none";
        }

      }

      let show_arguments = ["name", "client_secret"];

      for(var i=0; i < show_arguments.length; i++){
        document.getElementById(show_arguments[i]).style.display = "block";
      }
    }

    // if(gateway_type =='checkout' ){
    //   let hide_arguments = [ "redirect_url", "merchant_id", "secret_word"];
    //   for(var i=0; i < hide_arguments.length; i++){
    //     document.getElementById(hide_arguments[i]).style.display = "none";
    //   }
    //
    //   let show_arguments = [ "name", "client_key", "client_secret", "base_url"];
    //
    //   for(var i=0; i < show_arguments.length; i++){
    //     document.getElementById(show_arguments[i]).style.display = "block";
    //   }
    //
    // }
    //
    // if(gateway_type == 'two_checkout'){
    //   let hide_arguments = [ "redirect_url", "base_url", "client_key" ];
    //   for(var i=0; i < hide_arguments.length; i++){
    //     document.getElementById(hide_arguments[i]).style.display = "none";
    //   }
    //
    //   let show_arguments = [ "name", "merchant_id","secret_word", "client_secret" ];
    //
    //   for(var i=0; i < show_arguments.length; i++){
    //     document.getElementById(show_arguments[i]).style.display = "block";
    //   }
    // }
  } else{

    var hide_arguments = [ "redirect_url", "base_url", "client_key", "name", "merchant_id","secret_word", "client_secret" ];
    for(var i=0; i < hide_arguments.length; i++){
      document.getElementById(hide_arguments[i]).style.display = "none";
    }
      document.addEventListener('input', function (event) {
        if (event.target.id !== 'payment_gateway_gateway_type') return;

        let type = event.target.value;
        console.log(type)
        if(type == '2' || type ==  '1' || type == '6'){
          let hide_arguments = ["merchant_id", "redirect_url", "base_url","secret_word"];
          for(var i=0; i < hide_arguments.length; i++){
            document.getElementById(hide_arguments[i]).style.display = "none";
          }

          let show_arguments = ["name", "client_key", "client_secret"];
          for(var i=0; i < show_arguments.length; i++){
            document.getElementById(show_arguments[i]).style.display = "block";
          }
        }

        if(type == '3' || type == '5') {
          // securion pay and smart pay script
          let hide_arguments = [  "redirect_url", "base_url", 'secret_word', 'client_key', 'merchant_id'];
          for(var i=0; i < hide_arguments.length; i++){
            if (document.getElementById(hide_arguments[i])) {
              document.getElementById(hide_arguments[i]).style.display = "none";
            }

          }

          let show_arguments = ["name", "client_secret"];

          for(var i=0; i < show_arguments.length; i++){
            document.getElementById(show_arguments[i]).style.display = "block";
          }
        }

        // if(type == '0') {
        //   let hide_arguments = [ "client_key", "redirect_url", "base_url", "secret_word"];
        //   for(var i=0; i < hide_arguments.length; i++){
        //     document.getElementById(hide_arguments[i]).style.display = "none";
        //   }
        //
        //   let show_arguments = ["name", "merchant_id", "client_secret"];
        //   for(var i=0; i < show_arguments.length; i++){
        //     document.getElementById(show_arguments[i]).style.display = "block";
        //   }
        // }

        if(type == '0') {
          let hide_arguments = [  "redirect_url", "base_url"];
          for(var i=0; i < hide_arguments.length; i++){
            document.getElementById(hide_arguments[i]).style.display = "none";
          }

          let show_arguments = ["name", "merchant_id","client_key", "client_secret"];

          for(var i=0; i < show_arguments.length; i++){
            document.getElementById(show_arguments[i]).style.display = "block";
          }
        }
        //   if(type == '2') {
        //   let hide_arguments = [ "redirect_url", "merchant_id", "secret_word"];
        //   for(var i=0; i < hide_arguments.length; i++){
        //     document.getElementById(hide_arguments[i]).style.display = "none";
        //   }
        //
        //   let show_arguments = [ "name", "client_key", "client_secret", "base_url"];
        //
        //   for(var i=0; i < show_arguments.length; i++){
        //     document.getElementById(show_arguments[i]).style.display = "block";
        //   }
        // }

        // if(type == '5') {
        //   let hide_arguments = [ "redirect_url", "base_url", "client_key" ];
        //   for(var i=0; i < hide_arguments.length; i++){
        //     document.getElementById(hide_arguments[i]).style.display = "none";
        //   }
        //
        //   let show_arguments = [ "name", "merchant_id","secret_word", "client_secret" ];
        //
        //   for(var i=0; i < show_arguments.length; i++){
        //     document.getElementById(show_arguments[i]).style.display = "block";
        //   }
        // }
        if(type == ''){
          let hide_arguments = [ "redirect_url", "base_url", "client_key", "name", "merchant_id","secret_word", "client_secret" ];
          for(var i=0; i < hide_arguments.length; i++){
            document.getElementById(hide_arguments[i]).style.display = "none";
          }
        }
    }, false);
}
</script>
