<!-- Start About Area -->
<section class="about-area bg-ffffff ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-content-warp">
                    <span>About</span>
                    <h3>We operate our banking services in many countries around the world.</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                    
                    <ul class="about-warp-list">
                        <li>
                            <i class="flaticon-check"></i>
                            consectetur adipiscing elit
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Labore et dolore magna aliqua. 
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Quis ipsum suspendisse ultrices gravida.
                        </li>

                        <li>
                            <i class="flaticon-check"></i>
                            Risus commodo viverra maecenas accumsan.
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-image">
                    <a href="https://www.youtube.com/watch?v=-67xX2__1oM" class="video-btn popup-youtube">
                        <i class='bx bx-play'></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Area -->

<!-- Start Partner Area -->
<div class="partner-area ptb-100">
    <div class="container">
        <div class="partner-slider owl-carousel owl-theme">
            <div class="partner-item">
                <%= image_tag "partner/partner-1.png" %>
            </div>

            <div class="partner-item">
                <%= image_tag "partner/partner-2.png" %>
            </div>

            <div class="partner-item">
                <%= image_tag "partner/partner-3.png" %>
            </div>

            <div class="partner-item">
                <%= image_tag "partner/partner-4.png" %>
            </div>

            <div class="partner-item">
                <%= image_tag "partner/partner-5.png" %>
            </div>
        </div>
    </div>
</div>
<!-- End Partner Area -->

<!-- Start Banking Area -->
<section class="banking-area bg-ffffff ptb-100">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="banking-image-warp"></div>
            </div>

            <div class="col-lg-6">
                <div class="banking-content">
                    <span>Business banking</span>
                    <h3>We operate our banking services in many countries around the world</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <ul class="banking-list">
                        <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod.</li>
                        <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
                        <li><i class="flaticon-check"></i> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod incididunt ut labore et dolore magna aliqua.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banking Area -->

<!-- Start Fun Facts Area -->
<section class="fun-facts-area bg-ffffff pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            <span>Why choose us</span>
            <h2>Our bank has been providing services to its customers for almost 25 years.</h2>
        </div>
        
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-positive-vote"></i>
                    </div>

                    <h3>
                        <span class="odometer" data-count="358412">00</span>
                    </h3>
                    <p>Happy customers</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-confetti"></i>
                    </div>

                    <h3>
                        <span class="odometer" data-count="25">00</span>
                    </h3>
                    <p>Years in banking</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-bank"></i>
                    </div>

                    <h3>
                        <span class="odometer" data-count="2545">00</span>
                    </h3>
                    <p>Our branches</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-fun-fact">
                    <div class="icon">
                        <i class="flaticon-success"></i>
                    </div>

                    <h3>
                        <span class="odometer" data-count="54285">00</span>
                    </h3>
                    <p>Successfully works</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Fun Facts Area -->

<!-- Start Team Area -->
<section class="team-area bg-ffffff pb-70">
    <div class="container">
        <div class="section-title">
            <span>Expert people</span>
            <h2>Global leadership team</h2>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <%= image_tag "team/team-1.jpg" %>
                        
                    </div>

                    <div class="team-content">
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                        </ul>

                        <h3>Mark Torres</h3>
                        <span>Reporting expert</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <%= image_tag "team/team-2.jpg" %>
                        
                    </div>

                    <div class="team-content">
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                        </ul>

                        <h3>Shawn Maranto</h3>
                        <span>CEO & Co-Founder</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="single-team-box">
                    <div class="team-image">
                        <%= image_tag "team/team-3.jpg" %>
                        
                    </div>

                    <div class="team-content">
                        <ul class="social">
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-linkedin'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-twitter'></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_blank">
                                    <i class='bx bxl-facebook'></i>
                                </a>
                            </li>
                        </ul>

                        <h3>Riley Dougherty</h3>
                        <span>Project manager</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Area -->

<!-- Start Customer Area -->
<section class="customer-area ptb-100">
    <div class="container">
        <div class="section-title">
            <span>Customers say</span>
            <h2>What customers say about Us</h2>
        </div>

        <div class="customer-slider owl-carousel owl-theme">
            <div class="customer-item">
                <%= image_tag "customer/customer-1.jpg" %>
                
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>

                <div class="customer-info">
                    <h3>Robert jakech</h3>
                    <span>Software engineer</span>
                </div>

                <div class="icon">
                    <i class="flaticon-right-quotation-mark"></i>
                </div>
            </div>

            <div class="customer-item">
                <%= image_tag "customer/customer-2.jpg" %>
                
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>

                <div class="customer-info">
                    <h3>Joseph nakabale</h3>
                    <span>Software engineer</span>
                </div>

                <div class="icon">
                    <i class="flaticon-right-quotation-mark"></i>
                </div>
            </div>

            <div class="customer-item">
                <%= image_tag "customer/customer-1.jpg" %>
                
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>

                <div class="customer-info">
                    <h3>Robert jakech</h3>
                    <span>Software engineer</span>
                </div>

                <div class="icon">
                    <i class="flaticon-right-quotation-mark"></i>
                </div>
            </div>

            <div class="customer-item">
                <%= image_tag "customer/customer-2.jpg" %>
                
                <p>“Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.”</p>

                <div class="customer-info">
                    <h3>Joseph nakabale</h3>
                    <span>Software engineer</span>
                </div>

                <div class="icon">
                    <i class="flaticon-right-quotation-mark"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Customer Area -->