<!-- Header Section Start -->
<%= render partial: "shared/inner_header", locals: {title: "About", description: "It is a long established fact that a reader will be distracted by the readable content of a page
when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal
distribution of letters, as opposed to using 'Content here, content here', making it look like
readable English. "} %>


<!-- Ceo Section Start-->

<section id="ceo_section">
    <div class="container">
        <div class="heading">DistroPayment Ceo Mission</div>
        <p>Ceo DistroPayment mission about to develop the<br>
            online payment community</p>
        <div class="row align-items-center mt-5">
            <div class="col-md-6">
                <%= image_tag("ceo_img.png") %>
                
            </div>
            <div class="col-md-6">
                <div class="ceo_col_right ml-5">
                    <span>Our Ceo</span>
                    <div class="heading_ceo">John Doe, Flipp </div>
                    <p>It is a long established fact that a reader will be distracted by the readable content of a
                        page when looking at its 5. The point of using Lorem Ipsum is that it has a more-or-less
                        normal,</p>
                    <button class="send_message"><a href="#">Message Us <i
                                class="fas fa-arrow-right"></i></a></button>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Ceo Section End-->


<!-- Brands Section Start-->

<section id="brands_section">
    <div class="container">
        <div class="heading">Brands Were We Poppular</div>
        <p>From startup to the largest companies trusted on DistroPayment<br>
            services.</p>
        <div class="row">
            <div class="col-md-12 justify-content-center">
                <div class="brands_logos_one">
                    <ul>
                        <li><%= image_tag("dribbble-logo.png", class: "mb-5") %></li>
                        <li><%= image_tag("producthunt-logo.png", class: "mb-5") %></li>
                        <li><%= image_tag("envato-logo.png", class: "mb-5") %></li>
                    </ul>

                    <ul>
                        <li><%= image_tag("js_fondation_logo.png") %></li>
                        <li><%= image_tag("mashable-logo") %></li>
                        <li><%= image_tag("theguardian-logo") %></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Brands Section End-->

<!-- Solutions Section Start-->

<section id="about_solution_section">
    <div class="container">
        <div class="heading text-center">Solutions For developers & business</div>
        <div class="row">
            <div class="solution_boxes">
                <ul>
                    <li>
                        <div class="row mb-5">
                            <div class="col-md-6">
                                <div class="box">
                                    <div class="box_icon">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    <div class="box_heading">Developer Friendly community</div>
                                    <p>we support developors with digital handbook
                                        community ecosystem, with all necessary code
                                        feed system enabled.</p>
                                </div>
                            </div>
                           <div class="col-md-6">
                            <div class="box active_box">
                                <div class="box_icon">
                                    <i class="fas fa-database"></i>
                                </div>
                                <div class="box_heading">World Leading Database Enabled</div>
                                <p>we support developors with digital handbook
                                    community ecosystem, with all necessary code
                                    feed system enabled.</p>
                            </div>
                        </div>
                        </div>
                    </li>
                </ul>

                <ul>
                    <li>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="box active_box">
                                    <div class="box_icon">
                                        <i class="fas fa-layer-group"></i>
                                    </div>
                                    <div class="box_heading">Smart Documentation & Codes</div>
                                    <p>we support developors with digital handbook
                                        community ecosystem, with all necessary code
                                        feed system enabled.</p>
                                </div>
                            </div>
                           <div class="col-md-6">
                            <div class="box">
                                <div class="box_icon">
                                    <i class="fas fa-circle-notch"></i>
                                </div>
                                <div class="box_heading">Smart  Featured base dashboard</div>
                                <p>we support developors with digital handbook
                                    community ecosystem, with all necessary code
                                    feed system enabled.</p>
                            </div>
                        </div>
                        </div>
                    </li>
                </ul>

                

            </div>
        </div>
    </div>
</section>

<!-- Solutions Section End-->

<!-- Testimonials Section Start-->

<section id="testimonials">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <div class="happy_customer_box">
                    <div class="happy_content">
                        <div class="heading">Happy customers</div>
                    <p>Feedback from these happy customers helps<br> us in reaching the goals</p>
                    </div>
                    
                </div>
            </div>
            <div class="col-md-5">
                
                <div class="testimonial_box">
                    <div class="quoate">
                        <i class="fas fa-quote-right"></i>
                    </div>
                    <ul>
                        <li>
                            <%= image_tag("client_profile_img.png") %>
                            <div class="client_info_testimonials">
                                <div class="heading">Jenny Wilson</div>
                                <span>Vice President</span>
                            </div>
                        </li>
                    </ul>
                    <p>We had an incredible experience working with DistroPayment and were impressed they made such a big
                        difference in only three weeks. Our team is so grateful for the wonderful improvements they
                        made and their ability to get familiar with the product concept so quickly. It acted as a
                        catalyst to take our design to the next level and get more eyes on our product. </p>
                     <div class="arrows">
                         <div class="left_arrow"><a href="#"><i class="fas fa-chevron-left"></i></a></div>
                         <div class="right_arrow"><a href="#"><i class="fas fa-chevron-right"></i></a></div>
                     </div>   
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Testimonials Section End-->