<div class="api-nav d-flex">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="sidebar-mobile-btn">
                        <a class="btn btn-primary-side" data-bs-toggle="offcanvas" href="#offcanvasExample"
                            role="button" aria-controls="offcanvasExample">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>


                    <ul>
                        <li>
                            <a href="/"><%= t('head.home').capitalize%></a>
                            <%= link_to t('head.sign_in').capitalize, new_user_session_path, data: {turbolinks: "false"}%>
                            <a href="/contact"><%= t('head.contact_us').capitalize%></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Sidebar Mobile -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel"><%= t('docs.api_docs')%></h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body api-offcanvas">
        <ul>
            <li><a data-scroll href="#apiover"><%= t('docs.api_overview')%></a></li>
            <li><a data-scroll href="#errors"><%= t('docs.errors')%></a></li>
            <li><a data-scroll href="#account-setup"><%= t('docs.account_setup')%></a></li>
            <li><a data-scroll href="#Authentication"><%= t('docs.auth')%></a></li>
            <li><a data-scroll href="#virtual-terminal"><%= t('head.vt')%></a></li>
            <li><a data-scroll href="#response"><%= t('about.response')%></a></li>
        </ul>
    </div>
</div>
<!-- /.Sidebar Mobile -->

<!-- Api Sidebar -->
<div class="api-sidebar-desktop">
    <div class="api-title"><%= t('docs.api_docs')%></div>
    <ul>
        <li><a data-scroll href="#apiover"><%= t('docs.api_overview')%></a></li>
        <li><a data-scroll href="#errors"><%= t('docs.errors')%></a></li>
        <li><a data-scroll href="#account-setup"><%= t('docs.account_setup')%></a></li>
        <li><a data-scroll href="#Authentication"><%= t('docs.auth')%></a></li>
        <li><a data-scroll href="#virtual-terminal"><%= t('head.vt')%></a></li>
        <li><a data-scroll href="#response"><%= t('about.response')%></a></li>
    </ul>

    <div class="ft d-flex align-items-center">
      <%= link_to "Sign Up <i class='fas fa-long-arrow-alt-right'></i>".html_safe, new_user_registration_path, data: {turbolinks: "false"} %>

    </div>
</div>
<!-- /.Api sidebar -->

<!-- Api Inner Width -->
<div class="api-inner-width">

    <!-- Api Keys Section -->
    <section class="api-docs">
        <div class="container g-5">
            <div class="row text-center">

                <!-- Api Overview Section -->

                <div class="api-box" id="apiover">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="d-flex">
                                    <div class="box-title"><%= t('docs.api_overview')%></div>
                                </div>
                                <p><%= t('docs.overview_para')%></p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="higlighted-text">
                                    <%= t('docs.overview_para2')%>
                                </div>
                                <p class="mt-3 mb-0"><%= t('docs.easy_way')%></p>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Api Overview Section -->
                <div class="api-box" id="errors">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="d-flex">
                                    <div class="box-title"><%= t('docs.errors')%></div>
                                </div>
                                <p><%= t('docs.errors_para')%></p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="higlighted-text">
                                    <h4><%= t('docs.error_summary')%></h4>
                                    <div class="list-span"> <span>200 -</span> <%= t('docs.err_200')%>
                                    </div>
                                    <div class="list-span"> <span>401 -</span>  <%= t('docs.err_401')%></div>
                                    <div class="list-span"> <span>401 -</span>  <%= t('docs.err_401_a')%>
                                    </div>
                                    <h4><%= t('docs.error_arguments')%></h4>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_param')%>
                                    </div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_email')%></div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_amount')%></div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_card_num')%>
                                    </div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_date')%></div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_cvc')%></div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_month')%></div>
                                    <div class="arg-errors"><span>__</span> <%= t('docs.err_year')%></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="api-box" id="account-setup">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="d-flex">
                                    <div class="box-title"><%= t('docs.account_setup')%></div>
                                </div>
                                <p><%= t('docs.account_setup_para')%></p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12"></div>
                        </div>
                    </div>
                </div>

                <div class="api-box" id="Authentication">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="d-flex">
                                    <div class="box-title"><%= t('docs.auth')%></div>
                                </div>
                                <p><%= t('docs.auth_para')%></p>
                                <p>Use the <span class="link">https://distropayment.com/api/v1/auth_token/token
                                    </span>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="higlighted-text">
                                    <div class="p-3"><span>"client_secret": </span><span
                                            class="api-code">"SE7fceb1d113129da5f35c498b8a0a7"</span></div>
                                    <div class="p-3"><span>"client_public": </span><span
                                            class="api-code">"IDa971f36df184f0ce0887cd55"</span></div>
                                </div>
                                <p class="pt-4 pb-4"><%= t('docs.side_down_para')%></p>
                                <div class="higlighted-text p-5">
                                    <div><span>{</span></div>
                                    <div class="api-code p-3">"access_token": "2de7cbce1a775c2548835eb97b8a.."</div>
                                    <div><span>}</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="api-box" id="virtual-terminal">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="d-flex">
                                    <div class="box-title"><%= t('head.vt')%></div>
                                </div>
                                <p><%= t('docs.vt_para')%></p>
                                <div class="text-accent"><span><%= t('docs.access_token')%></span> <span class="api-code">-
                                        required</span></div>
                                <p class="pt-4 pb-0"><%= t('docs.auth_token')%></p>
                                <div class="text-accent"><span><%= t('docs.name')%></span> <span class="api-code">- required</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.cust_name')%></p>
                                <div class="text-accent"><span><%= t('docs.email')%></span> <span class="api-code">- required</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.user_email')%>
                                </p>
                                <div class="text-accent"><span><%= t('docs.amount_')%> </span> <span class="api-code">-
                                        required</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.amount_intend')%></p>
                                <div class="text-accent"><span><%= t('docs.card_num')%> </span> <span class="api-code">-
                                        required</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.card_validity')%></p>
                                <div class="text-accent"><span><%= t('docs.expiry_date')%> </span> <span class="api-code">-
                                        required</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.trans_compeletion')%></p>
                                <div class="text-accent"><span><%= t('docs.cvc_')%> </span> <span class="api-code">- required</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.card_verification')%></p>
                                <div class="text-accent"><span><%= t('docs.phone')%> </span> <span class="api-code">-
                                        optional</span>
                                </div>
                                <p class="pt-4 pb-0"><%= t('docs.optional_phone')%></p>
                                <div class="text-accent mb-4"><span><%= t('docs.street_address')%>  </span> <span class="api-code">-
                                        optional</span></div>
                                <div class="text-accent mb-4"><span><%= t('docs.city')%></span> <span class="api-code">-
                                        optional</span></div>
                                <div class="text-accent mb-4"><span><%= t('docs.country')%></span> <span class="api-code">-
                                        optional</span>
                                </div>
                                <div class="text-accent mb-1"><span><%= t('docs.zip_code')%></span> <span class="api-code">-
                                        optional</span></div>
                                <p class="pt-4 pb-0">Use the <span
                                        class="link">https://distropayment.com/api/v1/sales/virtual_terminal</span>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="higlighted-text">
                                    <div class="init_code"><span class="color_0">
                                            <div class="code_api api-code">
                                                <div class="pl-3">
                                                    <pre class="color_three"> {</pre>
                                                    <pre
                                                        class="color_three">    <span>"<%= t('docs.access_token')%>":</span>"2de7cbce1a775c2548835eb97b8a.."</pre>
                                                    <pre class="color_three">    "transaction": {</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.name')%>":</span>"Jhon",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.email')%>":</span>"jhonkozak@example.com",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.phone')%>":</span>"+5434309242",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.amount_')%>":</span>"1000"</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.card_num')%>":</span>"4242424242424242",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.expiry_date')%>":</span>"05/22"</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.street_address')%>":</span>"103  Iffley Road",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.city')%>":</span>"BROADMERE",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.country')%>":</span>"UK",</pre>
                                                    <pre
                                                        class="color_three">      <span>"<%= t('docs.zip_code')%>":</span>"RG25 8FD"</pre>
                                                    <pre class="color_three">    } </pre>
                                                    <pre class="color_three">  }</pre>
                                                </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="api-box" id="response">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="d-flex">
                                    <div class="box-title"><%= t('docs.response')%></div>
                                </div>
                                <p><%= t('docs.response_para')%>
                                </p>
                            </div>
                            <div class="col-lg-6 col-md-12 col-sm-12">
                                <div class="higlighted-text p-5">
                                    <span class="api-code">{ <br>
                                        <span class="p-5">"<%= t('docs.message')%>": </span>"Payment successful ", <br>
                                        <span class="p-5">"<%= t('docs.success')%>": </span> true, <br>
                                        <span class="p-5">"<%= t('docs.status')%>": </span> 200, <br>
                                        <span class="p-5">"<%= t('docs.ref_id')%>": </span> "5155dd393a380e22939015e690ba92cb"
                                        <br> }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- /.Api Keys Section -->
</div><!-- Api Inner Width -->
