<%= render partial: "shared/header" %>
<!-- Feature Section Start -->
    <section id="features_sction">
      <div class="container">
        <h2>Virtual Payment, Made Easy</h2>
        <div class="next_arrows"><%= image_tag "next.png" %></div>
        <div class="row">
          <div class="col-md-4 col-xs-12">
            <div class="features_boxes">
              <div class="features_boxes_content">
              <%= image_tag "activity_api_icon.png"%>
              <h3>Sale Transaction Api</h3>
              <p>Create slale transaction api for real time tracking<br>
                your slaes record and manage your onboard sales<br>
                with our inteligent api without any hasle. </p>
                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
              </div>
                <%= image_tag "waves_black_white.png"%>
                
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="features_boxes">
              <div class="features_boxes_content">
                <%= image_tag "accont_transfer_icon.png"%>
              
              <h3>Account Transfer</h3>
              <p>Transfer your account at stipe with no worry with<br>
                over altra intelligent api key built with ruby to find<br>
                out real time data driven.</p>
                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
              </div>
              <%= image_tag "waves_black.png"%>
                
            </div>
          </div>
          <div class="col-md-4 col-xs-12">
            <div class="features_boxes">
              <div class="features_boxes_content">
                <%= image_tag "withdraw_icon.png"%>
              
              <h3>Withdraw</h3>
              <p>Instant withdraw payments from your virtual<br> 
                account in just three easy steps, top up your<br>
                back statement in easy way.</p>
                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
              </div>
              <%= image_tag "waves_black_white.png"%>
                
            </div>
          </div>
        </div>

        <div class="virtual_terminal_area">
          <div class="row align-items-center">
              <div class="col-md-4 col-xs-12">
            <div class="virtual_boxe">
                <%= image_tag "vritual_terminal_icon.png"%>
              
              <h3>Withdraw</h3>
              <p>Instant withdraw payments from your virtual<br> 
                account in just three easy steps, top up your<br>
                back statement in easy way.</p>
                <a href="#">Learn More <i class="fas fa-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-md-8 col-xs-12">
            <div class="dashlight_img"><%= image_tag "dashboard_light.png"%></div>
          </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.Feature Section End -->


    <!-- Gateway Section Start -->

    <section id="pay_gateway_section">
      <div class="container">
        <div class="row ">
          <h4>Solution<br>Stipe, Payment Gateway</h4>
          <p>Check out stipe cardless virtual payments system<br>
            that enables hasle free online payments for instant<br>
            needs. </p>
            <button class="btn_payments">Make Payments Now <i class="fas fa-chevron-right"></i></button>

           <div class="gateway_img"><%= image_tag "gateway_image.png"%></div> 

           <div class="sign_up_form">
            <%= image_tag "icon_form.png"%>
             
             <h5>Join Us</h5>

             <div class="form-group">
               <input type="text" placeholder="User Name" class="input_field" disabled>
               <input type="email" placeholder="Email" class="input_field" disabled>
               <input type="password" placeholder="Password" class="input_field" disabled>
             </div>
             <button class="btn_form_signup" disabled>Sign Up</button>
           </div>
        </div>
      </div>
    </section>

    <!-- Gateway Section Start -->


    
    <!-- Developers Section Star -->

    <section id="develpors_section">
        <div class="container">
          <div class="row align-items-center">
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="developers_left_area">
                <span>Designed for developers</span>
                <h6>The world most advanced<br>
                  & easy to use Api</h6>
                  <p>We are built our plateform for both clients and<br>
                    developers with clear and andvanced api system<br>
                    for payment gateway code with Ruby.</p>
                  <button class="btn_api">Test Api <i class="fas fa-chevron-right"></i></button>
              </div>
              
            </div>
            <div class="col-lg-6 col-md-6 col-xs-12">
              <div class="developers_right_area">
                <div class="coding_box">
                  <div class="row">
                  <p># Code example for creating a subscription<br>
  
                    @client = StipePro::Client.new(<br>
                      access_token: "your_access_token",<br>
                      environment: :sandbox<br>
                    )
                    
                    @client.subscriptions.create(<br>
                      params: {<br>
                        amount: 40,<br>
                        currency: "USD",<br>
                        name: "Premium Subscription",<br>
                        interval_unit: "monthly",<br>
                        day_of_month: 1,<br>
                        links: {<br>
                          mandate: "MD123"<br>
                        }
                      }
                    )</p>
                  </div>
                </div>
              </div>
         
            </div>
          </div>
        </div>
    </section>

    <!-- /.Developers Section End -->

    <!-- Points Section Start -->

    <section id="points_scetion">
       <div class="container">
         <div class="row">
           <div class="col-md-4 col-xs-12">
              <div class="points_left_img"><%= image_tag "image_features.png"%></div>
           </div>
           <div class="col-md-8 col-xs-12">
              <div class="key_features">
                <div class="row">
                <div class="keyf_box">
                    <%= image_tag "bar_chart_square.png"%>
                  <br>
                  <span>Real-time alerts</span>
                  <p>Get notified by email for any failed <br>payment or customer cancellation. Sit<br> back and let Success+ intelligently retry<br> any payments that do fail.
                  </p>
                </div>
               
                <div class="keyf_box">
                  <%= image_tag "circle_check_outline.png"%>
                  <br>
                  <span>Fully safe and secure</span>
                  <p>Stipe Gateway is authorised by the<br> Financial Conduct Authority, and <br>ISO27001 certified for security standards</p>
                </div>
              </div>           
              <div class="row"> 
                <div class="keyf_box">
                    <%= image_tag "credit_card.png"%>
                  <br>
                  <span>Global payments</span>
                  <p>Collect payments from customers around <br>the world, including the UK, Eurozone <br>countries, the USA, Canada and Australia.
                  </p>
                </div>
              
              
                <div class="keyf_box box_bg">
                    <%= image_tag "slider_02.png"%>
                  <br>
                  <span>Completely customisable</span>
                  <p>Customise our out-of-the-box payment<br> pages, or build your own bespoke<br> integration using our Api</p>
                </div>
              </div>
            </div>
               
              </div>
           </div>
         </div>
       </div>
    </section>

    <!-- /.Points Section End -->