<section class="featured-section">
    <div class="container">
      <div class="row">
        <%= image_tag 'api-rquests-map.svg',class: "img-fluid" %>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="feature-points">
            <div class="icon"><%= image_tag 'api-icons-one.svg' %></div>
            <div class="title">Virtual Terminal</div>
            <p>The sky was cloudless and of a deep dark blue. The spectacle before us was indeed sublime.Create slale transaction api for real time tracking your slaes record and manage your onboard </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="feature-points mt-2">
            <div class="icon"><%= image_tag 'api-icons-two.svg' %></div>
            <div class="title">Withdraw</div>
            <p>The sky was cloudless and of a deep dark blue. The spectacle before us was indeed sublime.Create slale transaction api for real time tracking your slaes record and manage your onboard </p>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 ctm mt-5 mb-3">
          <div class="feature-points mt-3">
            <div class="icon"><%= image_tag 'api-icons-three.svg' %></div>
            <div class="title">Sale Api</div>
            <p>The sky was cloudless and of a deep dark blue. The spectacle before us was indeed sublime.Create slale transaction api for real time tracking your slaes record and manage your onboard </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 ctm mt-5 mb-3">
          <div class="feature-points">
            <div class="icon"><%= image_tag 'api-icons-four.svg' %></div>
            <div class="title">Account Transfer</div>
            <p>The sky was cloudless and of a deep dark blue. The spectacle before us was indeed sublime.Create slale transaction api for real time tracking your slaes record and manage your onboard </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Featured Section -->

  <!-- /.Featured Section -->


  <!-- Working Section -->
  <section class="how-working">
    <div class="container">
      <div class="row text-center">
        <div class="title-step">Four Step</div>
        <h3>How It Works</h3>
        <p>The sky was cloudless and of a deep dark blue. The spectacle before us was indeed sublime.</p>
      </div>
      <div class="row row-cols-1 row-cols-lg-4 row-cols-md-2 row-cols-sm-2 gx-5">
        <div class="col">
          <div class="step-box">
            <div class="number-one">01</div>
            <div class="title">Sign-up</div>
            <p>Apparently we had reached a great height in the, for the sky was a dead black.</p>
          </div>
        </div>
        <div class="col">
          <div class="step-box mt-5">
            <div class="number-one num-bg-1">02</div>
            <div class="title">Get Api Keys</div>
            <p>Black, and the stars had ceased to twinkle. By the same illusion which lifts.</p>
          </div>
        </div>
        <div class="col">
          <div class="step-box">
            <div class="number-one num-bg-2">03</div>
            <div class="title">Configure App</div>
            <p>Level of the spectator on a hillside, the sable cloud beneath was dished out.</p>
          </div>
        </div>
        <div class="col">
          <div class="step-box mt-5">
            <div class="number-one num-bg-3">04</div>
            <div class="title">Launch</div>
            <p>Middle of an immense dark sphere, whose upper half was strewn with silver.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.Working Section -->

  <!-- Cashless Section -->
  <section class="cashless">
    <div class="container">
      <div class="bg-cahsless">
        <div class="row align-items-center justify-content-between g-5">
          <div class="col-md-4">
            <div class="nocards-title">No Cards</div>
            <div class="title">Cashless banking</div>
            <p>Banks may also provide financial services such as wealth management, currency exchange.</p>
          </div>
          <div class="col-md-4">
            <%= image_tag 'card_illustration.svg',class: "img-fluid" %>

          </div>
          <div class="col-md-4">
            <div class="d-flex align-items-center">
              <div class="number">1</div>
              <div class="heading">Merchant Dashboard</div>
            </div>
            <a href="#" class="btn btn-get-account">Get Account</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.Cashless Section -->

  <!-- Developer Section -->
  <section class="developer">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="sub-title">Designed for developers</div>
          <div class="title">The world most advanced <br> & easy to use Api</div>
          <p>We are built our plateform for both clients and
            developers with clear and andvanced api system
            for payment gateway code with Ruby.</p>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12">
          <div class="box">
            <div class="init_code"><span class="color_0">
                <div class="code_api">
                  <div class="pl-3">
                    <pre class="color_three"> {</pre>
                    <pre class="color_three">    <span>"access_token":</span>"2de7cbce1a775c2548835eb97b8a.."</pre>
                    <pre class="color_three">    "transaction": {</pre>
                    <pre class="color_three">      <span>" name":</span>"Jhon",</pre>
                    <pre class="color_three">      <span>"email":</span>"jhonkozak@example.com",</pre>
                    <pre class="color_three">      <span>"phone":</span>"+5434309242",</pre>
                    <pre class="color_three">      <span>"amount":</span>"1000"</pre>
                    <pre class="color_three">      <span>"card_number":</span>"4242424242424242",</pre>
                    <pre class="color_three">      <span>"exp_date":</span>"05/22"</pre>
                    <pre class="color_three">      <span>"street_address":</span>"103  Iffley Road",</pre>
                    <pre class="color_three">      <span>"city":</span>"BROADMERE",</pre>
                    <pre class="color_three">      <span>"country":</span>"UK",</pre>
                    <pre class="color_three">      <span>"zip-code":</span>"RG25 8FD"</pre>
                    <pre class="color_three">    } </pre>
                    <pre class="color_three">  }</pre>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /.Developer Section -->

  <!-- Gateway Section -->
  <section class="gateway-section">
    <div class="conatiner">
      <div class="title mx-auto"><span>Solution</span> <br> distropayment, Gateway</div>
      <p>Check out distropayment cardless virtual payments system
        that enables hasle free online payments for instant
        needs. </p>
      <a href="#" class="btn btn-gateway">Make Payments Now</a>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <a href="#"><%= image_tag 'info_illustraion.svg', class: "img-fluid" %></a>
        </div>
      </div>
    </div>
  </section>
  <!-- /.Gateway Section -->

<!-- Services Section -->
<section class="services-section">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="box">
          <div class="title">Account Transfer</div>
          <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
          <a href="#">
            <i class="fas fa-long-arrow-alt-right"></i>
          </a>
          <%= image_tag 'account-transfer-image.svg' %>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="box">
          <div class="title">Withdraw</div>
          <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
          <a href="#">
            <i class="fas fa-long-arrow-alt-right"></i>
          </a>
          <%= image_tag 'withdraw-image.svg' %>

        </div>
      </div>
      <div class="col-lg-4 col-md-12 col-sm-12">
        <div class="box">
          <div class="title"> Virtual Terminal</div>
          <p>Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source</p>
          <a href="#">
            <i class="fas fa-long-arrow-alt-right"></i>
          </a>
          <%= image_tag 'virtual-terminal-image.svg', class: "custom-margin-image" %>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /.Services Section -->

<!-- Account Step Section -->
<section class="account-step">
  <div class="container">
    <div class="row">
      <div class="title">Step to get started with distropayment  </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="box">
          <div class="circle">01</div>
          <div class="sub-title">Create an account</div>
          <p>Black, and the stars had ceased to twinkle. By the same illusion which lifts.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="box">
          <div class="circle">02</div>
          <div class="sub-title">Setting Up</div>
          <p>Black, and the stars had ceased to twinkle. By the same illusion which lifts.</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="box">
          <div class="circle">03</div>
          <div class="sub-title">Configure live api</div>
          <p>Black, and the stars had ceased to twinkle. By the same illusion which lifts.</p>
        </div>
        </div>

      <div class="col-lg-3 col-md-4 col-sm-12">
        <div class="box">
          <div class="circle">04</div>
          <div class="sub-title">Go Live</div>
          <p>Black, and the stars had ceased to twinkle. By the same illusion which lifts.</p>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-get">Get started</a>
  </div>
</section>
<!-- /.Account Step Section -->
