<!-- Pricing Section -->
  <section class="pricing">
    <div class="container g-5">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12">
          <div class="pricing-header-area">
            <div class="box">
              <div class="title"><%= t('pricing.simple_pricing')%></div>
              <p><%= t('pricing.simple_pricing_text1')%></p>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div><%= t('pricing.europian')%></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div><%= t('pricing.non_europian')%></div>
                  </div>
                </div>
              </div>

              <div class="list mt-5 mb-5">
                <ul>
                  <li><span class="circle bg-one">1</span> &nbsp; <%= t('pricing.simple_pricing_pt1')%>
                  </li>
                  <li><span class="circle bg-two">2</span> &nbsp; <%= t('pricing.simple_pricing_pt2')%>
                  </li>
                  <li><span class="circle bg-three">3</span> &nbsp; <%= t('pricing.simple_pricing_pt3')%>
                  </li>
                </ul>
              </div>
              <div class="text-center">
                <div class="ft-title"><a href="#"><%= t('home.get_started')%></a></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-1response2 col-sm-12">
          <div class="pricing-header-area ">
            <div class="box info-box">
              <div class="title"><%= t('pricing.custom_pricing')%></div>
              <p><%= t('pricing.custom_pricing_text1')%></p>
              <div class="row mt-3">
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div><%= t('pricing.europian')%></div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="text-center">
                    <div class="numbers">1.4% + <span>20p</span></div>
                    <div><%= t('pricing.non_europian')%></div>
                  </div>
                </div>
              </div>

              <div class="list mt-5 mb-5">
                <ul>
                  <li><span class="circle bg-one">1</span> &nbsp; <%= t('pricing.custom_pricing_pt1')%>
                  </li>
                  <li><span class="circle bg-two">2</span> &nbsp; <%= t('pricing.custom_pricing_pt2')%>
                  </li>
                  <li><span class="circle bg-three">3</span> &nbsp; <%= t('pricing.custom_pricing_pt3')%>
                  </li>
                </ul>
              </div>
              <div class="text-center">
                <div class="ft-title"><a href="#"><%= t('home.get_started')%></a></div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number">1</div>
                  <div class="title"><%= t('head.vt')%></div>
                </div>
                <p><%= t('pricing.vt_text_head')%></p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.vt_pt1')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.vt_pt2')%>
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.vt_pt3')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.vt_pt4')%>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage"><%= t('pricing.vt_box_text')%></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number bg-two">2</div>
                  <div class="title"><%= t('pricing.withdraw')%></div>
                </div>
                <p><%= t('pricing.withdraw_text_head')%></p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.withdraw_pt1')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.withdraw_pt2')%>
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.withdraw_pt3')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.withdraw_pt4')%>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage"><%= t('pricing.withdraw_box_text')%></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number bg-three">3</div>
                  <div class="title"><%= t('pricing.account_transfer')%></div>
                </div>
                <p><%= t('pricing.at_text_head')%></p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.at_pt1')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.at_pt1')%>
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.at_pt1')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.at_pt1')%>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage"><%= t('pricing.at_box_text')%></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="price-box">
            <div class="row align-items-center">
              <div class="col-md-9" style="border-right: 2px solid #f2f2f2">
                <div class="d-flex align-items-center">
                  <div class="number">4</div>
                  <div class="title"><%= t('pricing.sale_api')%></div>
                </div>
                <p><%= t('pricing.at_text_head')%></p>
                <ul>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.sale_api_pt1')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.sale_api_pt1')%>
                    </li>
                  </div>
                  <div class="custom-flex">
                    <li><i class="fas fa-check"></i> <%= t('pricing.sale_api_pt1')%>
                    </li>
                    <li><i class="fas fa-check"></i> <%= t('pricing.sale_api_pt1')%>
                    </li>
                  </div>
                </ul>
              </div>
              <div class="col-md-3">
                <div class="percentage"><%= t('pricing.sale_api_box_text')%></div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>
  <!-- /.Pricing Section -->
