<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/admin_bread_crumb", locals: {page: "Withdraw Requests", title: "Withdraw Requests"} %>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Withdraw Requests</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>User Id</th>
                    <th>Amount</th>
                    <th>Payed</th>
                    <th>Created At</th>
                    <th>Payed At</th>
                    <th>Accept</th>
                  </tr>
                  </thead>
                  <tbody>
                        <% @withdraws.try(:each) do |withdraw| %>
                            <tr>
                                <td><%= withdraw.ref_id %></td>
                                <td><%= withdraw.name %></td>
                                <td><%= withdraw.user_id %></td>
                                <td><%= withdraw.amount %></td>
                                <td><%= withdraw.is_payed %></td>
                                <td><%= withdraw.created_at.strftime("%d/%m/%Y %H:%M %p") %></td>
                                <td><%= withdraw.payed_at&.strftime("%d/%m/%Y %H:%M %p") %></td>
                                <td>
                                  <% if withdraw.is_payed %> 
                                    Accepted
                                  <% else %>
                                    <%= link_to "Accept", accept_admin_withdraw_path(withdraw), method: :post %>
                                  <% end %>
                                </td>
                            </tr>
                        <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>User Name</th>
                    <th>User Id</th>
                    <th>Amount</th>
                    <th>Payed</th>
                    <th>Created At</th>
                    <th>Accept</th>
                  </tr>
                  </tfoot>
                </table>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2"><%== pagy_bootstrap_nav(@pagy) %></div>
                </div>
                
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->