<!-- Sign Up Form -->
    <section class="sign-up">
        <div class="row g-0 align-items-center text-center flex-column-reverse flex-lg-row">
            <div class="col-lg-5 col-md-12 col-sm-12 ">
                <div class="dark_side">
                    <%= image_tag "sign_up_illustration.svg", class: "img-fluid" %>
                    <!-- <img src="./assets/images/sign_up_illustration.svg" class="img-fluid" alt=""> -->
                </div>
            </div>
            <div class="col-lg-7 col-md-12 col-sm-12 mt-5 mb-5">
                <div class="sub-title">Login</div>
                 <div class="title">Welcome Back</div>
                 <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: "Login"}) do |f| %>
                <!-- <form id="Login"> -->
                    <!-- One "tab" for each step in the form: -->
                    <%= render "devise/shared/error_messages", resource: resource %>
                        <div class="row">
                            <div class="col-md-12">
                              <!-- <div class="alert alert-danger" role="alert">
                                  A simple danger alert—check it out!
                              </div> -->
                              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "form-control" %>

                            </div>
                            <div class="col-md-12">
                              <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password", class: "form-control" %>

                            </div>
                        </div>




                    <div style="overflow:auto;">
                        <%= link_to "Sign Up", new_user_registration_path, style: "float: left;" %>
                        <div style="float:right;">
                          <%= f.submit "Log in",class: "btn btn-custom" %>
                        </div>
                    </div>

                <!-- </form> -->
                <% end %>
            </div>
        </div>


    </section>

    <!-- /.Sign Up Form -->
