<!-- Sign Up Section Start-->
<div id="login_section">
  <div class="container">
      <div class="row align-content-center">
          <div class="login_form">
              <div class="heading">Login To Your Account</div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <div class="input_fiealds_one">
                  <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
                  <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
              </div>
              <div class="wrap d-flex">
                  <% if devise_mapping.rememberable? %>
                    
                    <label><%= f.check_box :remember_me %> Remember Me</label>
                  <% end %>
                  <label class="forgotPassword"><%= link_to "Forgot your password?", new_password_path(resource_name), data: {turbolinks: "false"} %></label>
              </div>
                <%= f.submit "Log in",class: "btn_login" %>
              
              <% end %>
              <div class="d-flex">
                <label class="signup_txt mt-2"><%= link_to "Sign Up", new_user_registration_path %></label>
                <label class="ml-auto mt-2 hom_txt"><a href="/">Go to Home</a></label>
              </div>
          </div>
      </div>
  </div>
</div>

<!-- Sign Up Section Start-->
