 <!-- Refund Modal Start -->
 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog refund_modal_dialog mx-auto" role="document">
      <div class="modal-content refund_modal_body">
          <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel"><%= t('transactions.refund_transaction')%> </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
              </button>
          </div>
          <div class="modal-body">

              <form>
                  <div class="form-row">
                  <div class="form-group col-md-6">
                      <label for="inputEmail4"><%= t('transactions.enter_amount')%></label>
                      <input type="email" class="form-control" id="inputEmail4" placeholder="Email">
                  </div>
                  <div class="form-group col-md-6">
                      <label for="inputState"><%= t('transactions.select_reason')%></label>
                      <select id="inputState" class="form-control">
                      <option selected><%= t('transactions.select_reason')%></option>
                      <option><%= t('transactions.duplicate')%></option>
                      <option><%= t('transactions.fraudlent')%></option>
                      <option><%= t('transactions.select_reason')%></option>
                      </select>
                  </div>
                  </div>
              </form>

              <div class="row text-center">
                  <div class="amount"><%= t('transactions.amount')%>: <span id="amount-num">$0.00</span></div>&nbsp;
                  <div class="fee pl-3"><%= t('transactions.fee')%>: <%= number_with_precision(number_to_currency(@fee.refund), precision: 2, delimeter: ',') %></div>&nbsp;
                  <div class="total pl-3"><%= t('transactions.total')%>: $54644</div>
              </div>

              <div class="alert alert-success shadow-sm mt-3" role="alert">
                  <h4 class="alert-heading"><%= t('transactions.imp_note')%></h4>
                  <p><%= t('transactions.imp_note_para')%></p>
                  <p class="mb-0"></p>
              </div>

          </div>
          <div class="modal-footer justify-content-center">
              <button type="button" class="btn btn-secondary btn_refund_cancel"
                  data-dismiss="modal"><%= t('home.cancel')%></button>
              <button type="button" class="btn btn-primary btn_refund_final"><%= t('transactions.refund')%></button>
          </div>
      </div>
  </div>
  </div>
<!-- Refund Modal End-->