<div class="dashboard_main_page">
<div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="welcom_heading">
          Transactions </div>
        <!-- <div class="small_head pl-1">Your Accounts Dashboard</div> -->
      </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="transaction_history_table mt-5">
                <table class="table table-striped shadow">
                    <thead>
                        <tr class="bg-tr">
                            <th scope="col">Id</th>
                            <th scope="col">Date</th>
                            <th scope="col">Sender Name</th>
                            <th scope="col">Receiver Name</th>
                            <th scope="col">Action</th>
                            <th scope="col">Transaction Type</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Fee</th>
                            <th scope="col">Reserve Money</th>
                            <th scope="col">Net Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @transactions&.each do |transaction|%>
                            <tr data-href="<%= transaction_detail_merchant_transactions_path(id: transaction.ref_id) %>">
                                <th scope="row"><%= transaction.ref_id&.first(6) %></th>
                                <td><%= transaction.created_at.strftime("%m/%d/%Y %H:%M %p") %></td>
                                <td><%= transaction.sender.first_name %></td>
                                <td><%= transaction.receiver&.first_name %></td>
                                <td><%= transaction.action.humanize.titleize %></td>
                                <td><%= transaction.main_type.humanize.titleize %></td>
                                <td><%= number_with_precision(number_to_currency(transaction.amount.to_f), precision: 2, delimiter: ',') %></td>
                                <td><%= number_with_precision(number_to_currency(transaction.fee.to_f + transaction.bank_fee.to_f), precision: 2, delimiter: ',') %></td>
                                <td><%= number_with_precision(number_to_currency(transaction.reserve_money.to_f), precision: 2, delimiter: ',') %></td>
                                <td><%= number_with_precision(number_to_currency(transaction.net_amount.to_f), precision: 2, delimiter: ',') %></td>
                                <td><button class="tabel_status"><a href="#"><%= transaction.status %></a></button></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Pagination Start -->
    <%== pagy_bootstrap_nav(@pagy) %>
    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center p-0 mt-3 mr-3">
          <li class="page-item shadow-sm">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item shadow-sm"><a class="page-link" href="#">1</a></li>
          <li class="page-item shadow-sm"><a class="page-link" href="#">2</a></li>
          <li class="page-item shadow-sm"><a class="page-link" href="#">3</a></li>
          <li class="page-item shadow-sm">
            <a class="page-link shadow-sm" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
         <!-- Pagination End -->

</div>
</div>
