<div class="dashboard_main_page">
<div class="container-fluid">
    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="welcom_heading">
          Reserve Schedules </div>
        <!-- <div class="small_head pl-1">Your Accounts Dashboard</div> -->
      </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="transaction_history_table resv-table mt-5">
                <table class="table table-striped shadow">
                    <thead>
                        <tr class="bg-tr">
                            <th scope="col">Transaction Id</th>
                            <th scope="col">Release Date</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @reserve_schedules&.each do |reserve_schedules|%>
                            <tr>
                                <th scope="row"><%= reserve_schedules.main_tx&.ref_id %></th>
                                <td><%= reserve_schedules.release_date.strftime("%m/%d/%Y") %></td>

                                <td><%= number_with_precision(number_to_currency(reserve_schedules.amount.to_f), precision: 2, delimiter: ',') %></td>

                                <td><button class="tabel_status"><a href="#"><%= reserve_schedules.reserve_status %></a></button></td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Pagination Start -->
    <%== pagy_bootstrap_nav(@pagy) %>
    <!-- <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center p-0 mt-3 mr-3">
          <li class="page-item shadow-sm">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
          </li>
          <li class="page-item shadow-sm"><a class="page-link" href="#">1</a></li>
          <li class="page-item shadow-sm"><a class="page-link" href="#">2</a></li>
          <li class="page-item shadow-sm"><a class="page-link" href="#">3</a></li>
          <li class="page-item shadow-sm">
            <a class="page-link shadow-sm" href="#">Next</a>
          </li>
        </ul>
      </nav> -->
         <!-- Pagination End -->

</div>
</div>
