<script src="https://sis-t.redsys.es:25443/sis/NC/sandbox/redsysV2.js"></script>
<!-- Virtual Terminal Form -->

    <div class="row text-center mb-3">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="welcom_heading">
          Virtual Terminal</div>
        <!-- <div class="small_head pl-1">Your Accounts Dashboard</div> -->
      </div>
    </div>
    <div class="client_form">
        <div class="container">
            <div class="row mt-5">
                <div class="col-md-12">
                    <%= form_with(model: @transaction, url: merchant_sale_index_path, class: "shadow", method: :post, local: true) do |form| %>
                        <div class="heading">Customer Info</div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Customer Name</label>
                            <%= form.text_field :name, class: "form-control", id: "inputEmail4", placeholder: "Customer Name", required: true %>
                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputEmail4">Email</label>
                            <%= form.email_field :email, class: "form-control", id: "inputEmail4", placeholder: "Customer Email", required: true %>

                          </div>

                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputAddress">Client Address</label>
                            <%= form.text_field :street_address, class: "form-control", id: "inputAddress", placeholder: "1234 Main st" %>

                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputPassword4">Mobile Number</label><br>
                            <%= form.text_field :phone, class: "form-control", required: true, id: "company_phone" %>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <%= form.text_field :city, class: "form-control", id: "inputCity", placeholder: "city" %>

                          </div>
                          <div class="form-group col-md-6">
                            <label for="inputState">Country</label>
                            <%= form.text_field :country, class: "form-control", id: "inputState", placeholder: "Country" %>
                          </div>

                        </div>

                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="inputState">State / province / region</label>
                                <%= form.text_field :state, class: "form-control", id: "inputState", placeholder: "State" %>
                            </div>
                            <div class="form-group col-md-6">
                              <label for="inputZip">Zip</label>
                              <%= form.text_field :zip_code, class: "form-control", id: "inputZip", placeholder: "18045" %>
                            </div>
                          </div>

                        <div class="heading">Payment Info</div>
                        <% if current_user.payment_gateway.red_sys? %>
                          <div id="card-form"/>
                          <input type="hidden" id="token" ></input>
                          <input type="hidden" id="errorCode" ></input>
                        <% else %>
                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputState">Amount</label>
                                  <%= form.text_field :amount, class: 'form-control', placeholder: "0.0", required: true %>

                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Card Number</label>
                                  <%=  form.text_field :card_number, class: "form-control", maxlength: 19, placeholder: "xxxx xxxx xxxx xxxx", autocomplete: "cc-number", pattern: "[0-9]*" , required: true%>
                              </div>
                          </div>

                          <div class="form-row">
                              <div class="form-group col-md-6">
                                  <label for="inputState">Expiry Date</label>
                                  <%= form.text_field :exp_date, class: "form-control", placeholder: "MM/YY", maxlength: 5, required: true %>
                              </div>
                              <div class="form-group col-md-6">
                                  <label for="inputEmail4">Cvc</label>
                                  <%= form.text_field :cvc, class: "form-control", pattern: "[0-9]*", autocomplete: "cc-number", maxlength: 3, placeholder: "456", required: true %>
                              </div>
                          </div>
                        <% end %>
                        <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
                        <%= form.submit "Submit", class: "btn btn-primary" %>
                      <% end %>
                </div>
            </div>
        </div>
    </div>
    <!-- Virtual Terminal Form -->



<script type="text/javascript">
  var order_id = "<%= rand.to_s[2..6] %>"
  console.log(order_id)
  function merchantValidationEjemplo(){
  		//Insertar validaciones…
  		return true;
  	}

  	window.addEventListener("message", function receiveMessage(event) {
  		storeIdOper(event,"token", "errorCode", "merchantValidationEjemplo");
  	});

    getInSiteForm('card-form', '', '', '', '', 'Texto botón pago', "352263560", "2", order_id);
</script>
<%# 31149c3ec12ca33e2179802ab657728578f98797 %>
<%# 34188 %>
