
<!-- Header Section -->
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <a class="navbar-brand" href="#"><span>d</span>istropayment.</a>
        <a id="sidebar-btn" class="btn btn-sidebar" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button"
          aria-controls="offcanvasExample">
          <%= image_tag 'menu-icon.png' %>

        </a>
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex align-items-center">
            <a href="#" class="login-link">Login</a>
            <a href="#" class="btn btn-sign-up">Sign Up</a>
          </div>
        </div>
      </div>




      <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasExampleLabel">distropayment</h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact Us</a>
            </li>
          </ul>
          <div class="d-flex align-items-center mt-5">
            <a href="#" class="login-link">Login</a>
            <a href="#" class="btn btn-sign-up">Sign Up</a>
          </div>
        </div>
      </div>
    </nav>

    <div class="container">
      <div class="vertical-center">
        <div class="row align-items-center">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h1>Effortless <br>payment process</h1>
            <p>DistroPayment makes it easy to collect Direct Debit
              payments from customers worldwide, even for
              one-off or variable amounts.</p>
            <a href="#" class="btn btn-start">Start Now</a>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12">
            <%= image_tag 'illustration_main.svg' %>

          </div>
        </div>
      </div>
      <div class="clients_profiles d-flex align-items-center">
        <%= image_tag 'client_image_one.svg',class: "img-fluid" %>
        <%= image_tag 'client_image_two.svg',class: "img-fluid" %>
        <%= image_tag 'client_image_three.svg',class: "img-fluid" %>
        <p>50,000+ clients around the world</p>
      </div>
    </div>
  </header>
  <!-- /.Header Section -->
