<!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <%= render partial: "shared/admin_bread_crumb", locals: {page: "Merchants", title: "Merchant"} %>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Merchants</h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Company</th>
                    <th>Active/Inactive</th>
                    <th>Payment Gateway</th>
                    <th>Edit</th>
                    <th>Verification</th>
                    <th>Wallets</th>
                  </tr>
                  </thead>
                  <tbody>
                        <% @merchants.try(:each) do |merchant| %>
                            <tr>
                                <td><%= merchant.id %></td>
                                <td><%= merchant.email %></td>
                                <td><%= merchant.first_name %></td>
                                <td><%= merchant.last_name %></td>
                                <td><%= merchant.company&.name %></td>
                                <td><%= merchant.active? ? "Active" : "Inactive" %></td>
                                <td><%= merchant.payment_gateway.try(:name) %></td>
                                <td><%= link_to "Edit", edit_admin_merchant_path(merchant)%></td>
                                <td><%= link_to "Verify", verification_detail_admin_merchant_path(merchant) %></td>
                                <td><%= link_to "Wallets", admin_wallets_path(merchant_id: merchant.id) %></td>
                            </tr>
                        <% end %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Company</th>
                    <th>Active/Inactive</th>
                    <th>Payment Gateway</th>
                    <th>Edit</th>
                    <th>Verification</th>
                    <th>Wallets</th>
                  </tr>
                  </tfoot>
                </table>
                <div class="row">
                    <div class="col-10"></div>
                    <div class="col-2"><%== pagy_bootstrap_nav(@pagy) %></div>
                </div>

              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
