<%= form_with(model: bank, url: url, method: method, local: true) do |form| %>
<div class="card-body">

  <% if bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
        <% bank.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">

    <%= form.hidden_field :user_id, value:"#{current_user.id}", class:"form-control" %>
  </div>


  <div class="form-group">
    <%= form.label :bank_name %>
    <%= form.text_field :bank_name, class: "form-control", required: "true" ,placeholder:" HBL" %>
  </div>
  <div class="form-group">
    <%= form.label :Bank_user_name %>
    <%= form.text_field :user_name, class: "form-control", required: "true" , placeholder:"John Dpe"   %>
  </div>

  <div class="form-group">
    <%= form.label :iban %>
    <%= form.text_field :iban , class: "form-control", required: "true"   , placeholder:" 0002 3569 87411﻿"  %>
  </div>




  <div class="actions">
    <%= form.submit class:"btn btn-create-bank " %>
  </div>
<% end %>
