<div class="dashboard_main_page">
  <div class="container-fluid">

    <div class="row text-center">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="welcom_heading">
          Banks </div>
        <!-- <div class="small_head pl-1">Your Accounts Dashboard</div> -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="transaction_history_table bank-table">
          <p id="notice"><%= notice %></p>
          <table class="table table-striped shadow">
            <%= link_to 'New Bank', new_merchant_bank_path, class:"btn btn-banks-new float-right mr-2 mb-4" %>

            <thead>
              <tr class="bg-tr">
                <th scope="col">Bank Name</th>
                <th scope="col">User Name</th>
                <th scope="col">Iban</th>
                <th  scope="col"></th>
              </tr>
            </thead>

            <tbody>
              <% @banks.each do |bank| %>
                <tr data-href="<%= merchant_bank_path(id: bank.id) %>" >
                  <td><%= bank.bank_name %></td>
                  <td><%= bank.user_name %></td>
                  <td><%= bank.iban %></td>
                  <td></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>

        </div>
      </div>
    </div>
  </div>
</div>
