<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @bank.user_id %>
</p>

<p>
  <strong>Iban:</strong>
  <%= @bank.iban %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bank.status %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @bank.currency %>
</p>

<p>
  <strong>User name:</strong>
  <%= @bank.user_name %>
</p>

<%= link_to 'Edit', edit_merchant_bank_path(@bank) %> |
<%= link_to 'Back', merchant_banks_path %>
