<p id="notice"><%= notice %></p>

<div class="user_account_data">
  <div class="container">
    <div class="small_head pl-2">
      <div class="card p-3  ">
        <div class="row">
          <h5 class="ml-3"> <%= t('banks.info')%> </h5>
          <div class="row align-items-end">
            <div class="col-md-6 my-2">
              <div class=user-data><b><%= t('banks.bank_name')%>: </b> <%= @bank.bank_name %> </div>
            </div>
            <div class="col-md-6">
              <div class=user-data><b><%= t('banks.bank_user')%>: </b> <%= @bank.user_name %> </div>
            </div>
            <div class="col-md-6 my-2">
              <div class=user-data><b><%= t('banks.iban')%>: </b> <%= @bank.iban %> </div>
            </div>
            <div class="col-md-6">
              <div class=user-data><b><%= t('banks.currency')%>: </b> <%= @bank.currency %> </div>
            </div>
            <div class="mx-auto mt-3">
              <%= link_to 'Edit', edit_merchant_bank_path(@bank), class:"btn btn-outline-primary ml-3" %>
              <%= link_to 'Back', merchant_banks_path, class:"btn btn-outline-primary ml-3" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
