<div class="container">
  <div class="row">
    <p id="notice"><%= notice %></p>
    <div class="bank_user_account_data shadow">
      <div class="container">
        <div class="small_head pl-2">
          <div class="card p-3  ">
            <div class="row">
              <h5 class="ml-3"> Bank Information </h5>
              <div class="row align-items-end">
                <div class="col-md-6 my-2">
                  <div class=user-data>
                    <div class="label-data">Bank Name</div>
                    <div class="data"> <%= @bank.bank_name %> </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class=user-data><b>Bank User Name: </b> <%= @bank.user_name %> </div>
                </div>
                <div class="col-md-6 my-2">
                  <div class=user-data><b>Iban: </b> <%= @bank.iban %> </div>
                </div>
                <div class="col-md-6">
                  <div class=user-data><b>Currency: </b> <%= @bank.currency %> </div>
                </div>
                <div class="mx-auto mt-3">
                  <%= link_to 'Edit', edit_merchant_bank_path(@bank), class:"btn btn-new-bank ml-3" %>
                  <%= link_to 'Back', merchant_banks_path, class:"btn btn-outline-primary ml-3" %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>