<!-- Account Transfer Modal Start -->
<div class="modal account_transfer_modal fade" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog acc_trans_dialog mx-auto" role="document">
        <div class="modal-content refund_modal_body">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Account Transfer</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                 <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">&times;</span>
                 </button> -->
            </div>
            <div class="modal-body">

                <%= form_for [:merchant,@account_transfer], method: :post do |form|  %>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputEmail4">Transfer to</label>
                            <%= form.email_field :receiver_wallet_id, placeholder: "Email", class: "form-control", required: true, data: {url: check_email_merchant_account_transfers_path, remote: true} %>
                            <div class="email-error">

                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="inputState">Payment Type</label>
                            <%= form.select :reason, [["Truly Payment", "Truly Payment"],["Goods & Services Payment", "Goods & Services Payment"]],{include_blank: true}, required: true, id: "inputState", class: "form-control" %>

                        </div>
                    </div>


                  <div class="form row">
                      <div class="col-md-6 pl-0 pr-1">
                          <div class="balance pb-2">Balance <span class="bal_value float-right"><%= number_with_precision(number_to_currency(balance), precision: 2, delimiter: ',') %></span></div>
                      </div>
                      <div class="col-md-6 pl-1 pr-0">
                          <div class="balance">Fee <span class="bal_value float-right"><%= number_with_precision(number_to_currency(fee), precision: 2, delimiter: ',') %></span></div>
                      </div>
                  </div>

                  <div class="form row mt-3">
                      <label for="inputEmail4">Amount</label>
                      <%= form.number_field :amount, placeholder: "10",min: "0", class: "form-control", required: true %>

                  </div>
                  <div class="form row mt-3">
                      <div class="col-md-6 pl-0 pr-1">
                          <div class="balance total-amount pb-2" data-fee="<%= fee %>">Total <span class="bal_value total_value float-right">$0.00</span></div>
                      </div>
                  </div>
                  <div class="mt-3">
                      <label for="inputEmail4">Instruction (Optional)</label>
                      <%= form.text_area :instruction, placeholder: "Instructions for account transfer", rows: "5", class: "text-area"%>

                  </div>
                  <div class="modal-footer justify-content-center mt-3">
                      <%= form.submit "Submit", class: "btn btn-primary btn_actrans_sub" %>
                  </div>
                </div>

            <% end %>
        </div>
    </div>
</div>
<!-- Accaount Tarnsfer Modal End-->
<script type="text/javascript">
  $("#account_transfer_amount").on('keyup',function(){
    fee = parseFloat($(".total-amount").data("fee"))
    amount =  $(this).val();
    if (amount != "") {
      total = fee + parseFloat($(this).val())
    } else {
      total = 0.00
    }

    $(".total_value").text("$"+total.toFixed(2));
  });
</script>
