<%= form_with(model: fee, url: url, local: true) do |form| %>
    <div class="card-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">Bank Credit Card fees $</label>
              <%= form.text_field :sale_credit_bank, class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
              <label for="first_name">Bank Credit Card fees %</label>
              <%= form.text_field :sale_credit_bank_percent, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">Bank Debit Card fees $</label>
              <%= form.text_field :sale_debit_bank, class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
              <label for="first_name">Bank Debit Card fees %</label>
              <%= form.text_field :sale_debit_bank_percent, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">Merchant Credit Card fees $</label>
              <%= form.text_field :sale_credit_merchant, class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
              <label for="first_name">Merchant Credit Card fees %</label>
              <%= form.text_field :sale_credit_merchant_percent, class: "form-control" %>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="first_name">Merchant Debit Card fees $</label>
              <%= form.text_field :sale_debit_merchant, class: "form-control" %>
            </div>
            <div class="form-group col-md-6">
              <label for="first_name">Merchant Debit Card fees %</label>
              <%= form.text_field :sale_debit_merchant_percent, class: "form-control" %>
            </div>
          </div>

          <div class="form-group">
            <label for="first_name">Withdraw Fees</label>
            <%= form.text_field :withdraw, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="first_name">Reserve Money</label>
            <%= form.text_field :reserve, class: "form-control" %>
          </div>

          <div class="form-group">
            <label for="first_name">Reserve Days</label>
            <%= form.text_field :days, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="first_name">Refund</label>
            <%= form.text_field :refund, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="first_name">Account Transfer Fee</label>
            <%= form.text_field :account_transfer, class: "form-control" %>
          </div>
          <div class="form-group">
            <label for="first_name">Reward Amount Limit</label>
            <%= form.number_field :reward_amount, min: 0, class: "form-control" %>
          </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
<% end %>
