<!-- Sidebar Left Start -->
<div class="sidebar_left shadow ">
    <div class="d-flex justify-content-center mt-3 mb-3">
      <div class="dash_logo">
        <%= image_tag "logodash.png" %>
        
      </div>

    </div>

    <ul>
      <li class="mb-3 active">
        <a href="<%= merchant_dashboard_index_path %>">
          <div class="icon"><i class="fas fa-university"></i></div>
          <div class="title">Accounts</div>
        </a>
      </li>

      <li class="mb-3">
        <a href="">
          <div class="icon"><i class="fas fa-undo-alt"></i></div>
          <div class="title">Chargebacks</div>
        </a>
      </li>
      <li class="mb-3">

      <li class="mb-3">
        <a href="<%= merchant_sale_index_path %>">
          <div class="icon"><i class="fas fa-terminal"></i></div>
          <div class="title">Virtual Terminal</div>
        </a>
      </li>

      <li class="mb-3">
        <a href="<%= merchant_transactions_path %>">
          <div class="icon"><i class="fas fa-money-check-alt"></i></div>
          <div class="title">Transactions</div>
        </a>
      </li>

      <li class="mb-3">
        <a href="<%= merchant_reserve_schedules_path %>">
          <div class="icon"><i class="fas fa-money-check-alt"></i></div>
          <div class="title">Reserve Schedules</div>
        </a>
      </li>

      <li class="mb-3">
        <a href="<%= fee_structure_merchant_dashboard_index_path %>">
          <div class="icon"><i class="fas fa-money-check-alt"></i></div>
          <div class="title">Fee Structure</div>
        </a>
      </li>


      <li class="mb-3">
        <a href="<%= fee_structure_merchant_dashboard_index_path %>">
          <div class="icon"><i class="fas fa-money-check-alt"></i></div>
          <div class="title">Fee Structure</div>
        </a>
      </li>

      <li class="mb-3">
        <a href="<%= fee_structure_merchant_dashboard_index_path %>">
          <div class="icon"><i class="fas fa-money-check-alt"></i></div>
          <div class="title">Fee Structure</div>
        </a>
      </li>
    </ul>

    <div class="wrap d-flex justify-content-center">
      <a href="#"><i class="fas fa-home"></i></a>
    </div>

  </div>
  <!-- Sidebar Left Start -->