<!-- Sidebar Left Start -->
<div class="sidebar_left shadow ">
  <div class="d-flex justify-content-center mt-3 mb-3">
    <div class="dash_logo">
      <%= image_tag "distro-logo.svg" %>
    </div>

  </div>

  <ul>
    <li
      class="mb-3 <%= controller.controller_name == 'dashboard' && controller.action_name == 'index' ? 'active' : '' %>">
      <a href="<%= merchant_dashboard_index_path %>">
        <div class="icon"><i class="fas fa-university"></i></div>
        <div class="title">Accounts</div>
      </a>
    </li>

    <li class="mb-3">
      <a href="">
        <div class="icon"><i class="fas fa-undo-alt"></i></div>
        <div class="title">Chargebacks</div>
      </a>
    </li>
    <li class="mb-3">

    <li class="mb-3 <%= controller.controller_name == 'sale' && controller.action_name == 'index' ? 'active' : '' %>">
      <a href="<%= merchant_sale_index_path %>">
        <div class="icon"><i class="fas fa-terminal"></i></div>
        <div class="title">Virtual Terminal</div>
      </a>
    </li>

    <li class="mb-3 <%= controller.controller_name == 'transactions' ? 'active' : '' %>">
      <a href="<%= merchant_transactions_path %>">
        <div class="icon"><i class="fas fa-money-check"></i></div>
        <div class="title">Transactions</div>
      </a>
    </li>
    <li class="mb-3 <%= controller.controller_name == 'banks' ? 'active' : '' %>">
      <a href="<%= merchant_banks_path %>">
        <div class="icon"><i class="fas fa-hand-holding-usd"></i></div>
        <div class="title">Banks</div>
      </a>
    </li>

    <li
      class="mb-3 <%= controller.controller_name == 'reserve_schedules' && controller.action_name == 'index' ? 'active' : '' %>">
      <a href="<%= merchant_reserve_schedules_path %>">
        <div class="icon"><i class="fas fa-money-check-alt"></i></div>
        <div class="title">Reserve Schedules</div>
      </a>
    </li>

    <li
      class="mb-3 <%= controller.controller_name == 'dashboard' && controller.action_name == 'fee_structure' ? 'active' : '' %>">
      <a href="<%= fee_structure_merchant_dashboard_index_path %>">
        <div class="icon"><i class="fas fa-money-bill-alt"></i></div>
        <div class="title">Fee Structure</div>
      </a>
    </li>

    <li
      class="mb-3 <%= controller.controller_name == 'withdraws' && controller.action_name == 'index' ? 'active' : '' %>">
      <a href="<%= merchant_withdraws_path %>">
        <div class="icon"><i class="fas fa-money-check"></i></div>
        <div class="title">Withdraws</div>
      </a>
    </li>

    <li
      class="mb-3 <%= controller.controller_name == 'rewards' && controller.action_name == 'index' ? 'active' : '' %>">
      <a href="<%= merchant_rewards_path %>">
        <div class="icon"><i class="fas fa-gift"></i></div>
        <div class="title">Rewards</div>
      </a>
    </li>

    <li
      class="mb-3 <%= controller.controller_name == 'account_transfers' && controller.action_name == 'index' ? 'active' : '' %>">
      <a href="<%= merchant_account_transfers_path %>">
        <div class="icon"><i class="fas fa-exchange-alt"></i></div>
        <div class="title">Account Transfer</div>
      </a>
    </li>

    <li class="dropdown-btn mb-3">
      <a>
        <div class="icon"><i class="fas fa-cog"></i></div>
        <div class="title">Setup & Plugins &nbsp;<i class="fas fa-chevron-down"></i></div>
      </a>
      <div class="dropdown-container">
        <ul>
          <li
            class="arrow-left mb-3 <%= controller.controller_name == 'dashboard' && controller.action_name == 'api_key' ? 'active' : '' %>">
            <a href="<%= api_key_merchant_dashboard_index_path %>">
              <div class="icon"><i class="fas fa-key"></i></div>
              <div class="title">Api Keys</div>
            </a>
          </li>
         
          <li
            class="arrow-left-two mb-3 <%= controller.controller_name == 'dashboard' && controller.action_name == 'api_key' ? 'active' : '' %>">
            <a href="<%= api_key_merchant_dashboard_index_path %>">
              <div class="icon"><i class="fas fa-dice-one"></i></div>
              <div class="title">Plugins Zone</div>
            </a>
          </li>
        </ul>
      </div>
    </li>

  </ul>

  <div class="wrap d-flex justify-content-center">
    <a href="/"><i class="fas fa-home"></i></a>
  </div>

</div>
<!-- Sidebar Left Start -->
<script>
  $('.dropdown-btn').click(function () {
    $('.dropdown-container').toggleClass("dropdown-active");
  });

  $('.dropdown-btn').click(function () {
    $('.fa-chevron-down').toggleClass("updown-icon");
  });
</script>