<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
                    <div class="brand-section">
                        <div class="brand-box shadow mx-auto">
                            <h4>What your customers will see when using DistroPayment</h4>
                            <p>Please upload logo of your company</p>
                            <%= form_for @company, url: save_brand_info_merchant_verification_index_path, method: :post do |form| %>
                              <%= form.hidden_field :id, value: @company.id %>
                              <div class="client-box">
                                  <div class="field">
                                      <%= form.file_field :logo, required: true, accept:'.png, .jpeg, .jpg' %>
                                  </div>
                              </div>




                              <div class="d-flex align-items-center mt-3">
                                  <%= form.submit "Continue", class: "btn btn-continue" %>
                                  <a href="<%= contact_details_merchant_verification_index_path %>" class="go-back ml-3" data-turbolinks="false"><i class="fas fa-arrow-left"></i> go back a step</a>
                              </div>
                            <% end %>

                        </div>
                    </div>


                </div>
