<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
                    <div class="contact-deatils">
                        <div class="contact-box shadow mx-auto">
                            <h4>Support contact details</h4>
                            <p>DistroPayment makes it easy to collect Direct Debit payments from customers worldwide,
                                even for one-off or variable amounts.</p>

                            <%= form_for @company, url: save_contact_details_merchant_verification_index_path, method: :post do |form| %>
                                <%= form.hidden_field :id, value: @company.id   %>
                                <div class="form-group">
                                    <label for="supportEmail">Support Email <span>*</span></label>
                                    <%= form.email_field :support_email,class: "form-control", required: true, placeholder: "support email" %>
                                </div>
                                <div class="form-group">
                                    <label for="phoneNumber">Phone Number <span>*</span></label>
                                    <br>
                                    <%= form.telephone_field :phone,class: "form-control", required: true %>
                                </div>
                                <div class="form-group">
                                    <label for="website">Website <span>*</span></label>
                                    <%= form.text_field :website,class: "form-control", required: true, placeholder: "https://example.com" %>
                                </div>


                            <div class="d-flex align-items-center mt-5">
                                <%= form.submit "Continue", class: "btn btn-continue" %>
                                <a href="<%= company_info_merchant_verification_index_path %>" class="go-back ml-3" data-turbolinks="false"><i class="fas fa-arrow-left"></i> go back a step</a>
                            </div>
                            <% end %>

                        </div>
                    </div>


                </div>
