<div class="col-lg-8 col-md-12 col-sm-12 pr-0">
                    <div class="verifystatus-section">
                        <div class="verify-status-box shadow mx-auto">

                            <%= form_for @company, url: complete_verification_merchant_verification_index_path, method: :post do |form| %>
                              <div class="verification">
                                <div class="box">
                                    <div class="">Company Logo (Optional)</div>
                                    <p>Please upload your company logo</p>
                                    <div class="#">

                                        <div class="detail">

                                            <div class="custom-file mt-4 mb-3">
                                                <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                                                <%= form.file_field :logo, accept:'.png, .jpeg, .jpg', class: "custom-file-input", id: "customFile" %>

                                                <label class="custom-file-label" for="customFile">Choose file</label>
                                            </div>
                                            <div class="custom-file">
                                              You can only upload .png, .jpeg, .jpg format files
                                            </div>
                                            <!-- <a href="#" class="btn btn-upload">Upload Documents</a> -->
                                        </div>
                                    </div>
                                </div>

                                  <div class="title">REQUESTED INFORMATION</div>
                                  <div class="box">
                                      <div class="">Confirm Address</div>
                                      <p>payments from customers worldwide,
                                          even for one-off or variable amounts. We are built our plateform for both
                                          clients
                                          and</p>
                                      <div class="#">
                                          Additional Details For:
                                          <table class="table table-bordered mt-3 mb-3">
                                              <tbody>
                                                  <tr>
                                                      <td><%= @company.name %></td>
                                                      <td><%= @company.address %></td>
                                                      <td><%= @company.country_name %></td>
                                                  </tr>
                                              </tbody>
                                          </table>

                                          <div class="detail">
                                              <div class="mb-2">Upload Documents</div>
                                              <div class="custom-control custom-radio">
                                                  <input type="radio" id="customRadio1" name="company[legal_doc_type]" value="bank_statement"  class="custom-control-input">
                                                  <label class="custom-control-label" for="customRadio1">Bank Statement</label>
                                              </div>
                                              <div class="custom-control custom-radio">
                                                  <input type="radio" id="customRadio2" name="company[legal_doc_type]" value="utility_bill" class="custom-control-input">
                                                  <label class="custom-control-label" for="customRadio2">Utility Bill</label>
                                              </div>
                                              <div class="custom-control custom-radio">
                                                  <input type="radio" id="customRadio3" name="company[legal_doc_type]" value="tax_bill" class="custom-control-input">
                                                  <label class="custom-control-label" for="customRadio3">Council Tax Bill</label>
                                              </div>
                                              <div class="custom-control custom-radio">
                                                  <input type="radio" id="customRadio4" name="company[legal_doc_type]" value="tv_license" class="custom-control-input">
                                                  <label class="custom-control-label" for="customRadio4">Tv License</label>
                                              </div>
                                              <div class="custom-file mt-4 mb-3">
                                                  <!-- <input type="file" class="custom-file-input" id="customFile"> -->
                                                  <%= form.file_field :legal_doc, class: "custom-file-input", id: "customFile", required: true, accept:'.png, .jpeg, .jpg, .pdf' %>
                                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                              <div class="custom-file">
                                                You can only upload png, jpg, jpeg, pdf format files
                                              </div>
                                              <!-- <a href="#" class="btn btn-upload">Upload Documents</a> -->
                                          </div>
                                      </div>
                                  </div>

                                  <div class="box-two">
                                      <div class="">Confirm Your Identity</div>
                                      <p>payments from customers worldwide,
                                          even for one-off or variable amounts. We are built our plateform for both
                                          clients
                                          and</p>
                                      <div class="#">
                                          Additional Details For:
                                          <table class="table table-bordered mt-3 mb-3">
                                              <tbody>
                                                  <tr>
                                                    <td><%= current_user.first_name %> <%= current_user.last_name %></td>
                                                    <td><%= current_user.street_address %></td>
                                                    <td><%= current_user.country_name %></td>
                                                  </tr>
                                              </tbody>
                                          </table>

                                          <div class="detail">
                                              <div class="mb-2"></div>
                                              <ul>
                                                  <li>1: Passport</li>
                                                  <li>2: National Id Card</li>
                                              </ul>
                                              <div class="custom-file mt-4 mb-3">
                                                  <%= form.file_field :id_doc, class: "custom-file-input", id: "customFile", required: true, accept:'.png, .jpeg, .jpg,.pdf' %>
                                                  <label class="custom-file-label" for="customFile">Choose file</label>
                                              </div>
                                              <div class="custom-file">
                                                You can only upload png, jpg, jpeg, pdf format files
                                              </div>
                                              <!-- <a href="#" class="btn btn-upload">Upload Documents</a> -->
                                          </div>
                                      </div>
                                  </div>


                              </div>

                              <div class="d-flex align-items-center mt-5">
                                  <%= form.submit "Continue", class: "btn btn-continue" %>
                                  <a href="<%= bank_details_merchant_verification_index_path %>" class="go-back ml-3" data-turbolinks="false"><i class="fas fa-arrow-left"></i> go back a step</a>
                              </div>
                            <% end %>

                        </div>
                    </div>


                </div>
